<template>
    <div>
        <div class="container" id="container">
            <div class="mt-4">
              <h3 class="text-center">HOME</h3>
            </div>
            <div class="text-center;">
              <ul>
                <li>API : Laravel</li>
                <li>Frontend : Vusjs</li>
                <li>Database : MariaDB</li>
                <li>Build : Docker compose
                  <ul>
                    <li>API : localhost:8000/api</li>
                    <li>Frontend : localhost:3000</li>
                    <li>Database : 127.0.0.1:3306</li>
                  </ul>
                </li>
                <li>Source code : <a href="https://gitlab.com/toomtamkung/exam" target="_blank">
                    https://gitlab.com/toomtamkung/exam</a>
                </li>
              </ul>
            </div>
            </div>
    </div>
</template>

<script>

import AuthService from '../authservice.js';
  export default {
    data() {
      return {
        username: null,
        password: null,
        has_error: false,
        errors: null
      }
    },
    mounted() {
      //
    },
    methods: {
      async login() {
      try {
        const credentials = {
          username: this.username,
          password: this.password
        };
        const response = await AuthService.login(credentials);
        if(response.success){
          this.msg = response.message;
          const token = response.data.token;
          const user = response.data.name;
          console.log(response.data.token)
          this.$store.dispatch('login', { token, user });
          this.$router.push('/me');
        }
        else{
          this.has_error = true
          this.errors = response.data;
        }
      } catch (error) {
        this.msg = error.message;
      }
    }
    }
  }
</script>
<style>
#app {
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap')
</style>