<template>
    <div class="app">
        <header id="header" class="mb-4">
            <navigationMenu></navigationMenu>
        </header>
        <div id="content">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
  //import AuthService from '../authservice.js';
  import navigationMenu from './MenuComponent.vue'
  export default {
    name : 'app',
    data() {
      return {
      }
    },
    components: {
      navigationMenu
    },
    methods:{
    },
  }
</script>
<style>
#header{
  background-color :#ddd;
}
</style>