<template>
    <div>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form autocomplete="off" @submit.prevent="login" method="post">
                    <h1>Sign in</h1>
                    
                    <input type="text" id="username" placeholder="Username" v-model="username" required>
                    <input type="password" id="password" placeholder="Password" v-model="password" required>
                    <div v-if="has_error">
                      <h5 class="help-block text-danger">{{ errors.error }}</h5>
                  </div>
                    <div class="form-group">
                        <button type="button" @click="login"  class="mt-2 mx-auto">Sign In</button>
                    </div>
                    
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUp"><router-link :to="{ name : 'register'}">Sign Up</router-link></button>
                    </div>
                </div>
            </div>
        </div>
        <header id="header" class="mb-4">
            <navigationMenu></navigationMenu>
        </header>
        <div id="content">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>

import AuthService from '../authservice.js';
  export default {
    data() {
      return {
        username: null,
        password: null,
        has_error: false,
        errors: null
      }
    },
    mounted() {
      //
    },
    methods: {
      async login() {
      try {
        /*const credentials = {
          username: this.username,
          password: this.password
        };*/
        const data = new FormData()
        data.append('username',this.username)
        data.append('password',this.password)
        const response = await AuthService.login(data);
        if(response.success){
          this.msg = response.message;
          const token = response.data.token;
          const user = response.data.name;
          console.log(response.data.token)
          this.$store.dispatch('login', { token, user });
          this.$router.push('/me');
        }
        else{
          this.has_error = true
          this.errors = response.data;
        }
      } catch (error) {
        this.msg = error.message;
      }
    }
    }
  }
</script>
<style>
#app {
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap')
</style>