<template>
    <div class="container">
        <div class="profile-container profile-container mx-auto">
            <h1>Profile</h1>
            <div class="text-center">
                    <img :src="user.profile_pic" class="img-thumbnail rounded-circle col-3">
                </div>
            <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row" class="col-2">Username</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-2">Firstname</th>
                            <td>{{ user.firstname }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-2">Lastname</th>
                            <td>{{ user.lastname }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row justify-content-between">
                    <div class="col-6 text-left">
                        <router-link to="/password" class="btn btn-info justify-content-left">Change Password</router-link>
                    </div>
                    <div class="col-4 text-right" style="text-align:right">
                        <router-link to="/edit"  class="btn btn-primary">Edit Profile</router-link>
                    </div>
                </div>
        </div>
    </div>
</template>
<script>

import AuthService from '../authservice.js';
  export default {
    data() {
      return {
        user: '',
        has_error: false,
        error: '',
        errors: {},
        success: false
      }
    },
    methods: {
        //
        async getInfo(){
            try {
            const response = await AuthService.profile();

            if(response.status){
                this.user = response.user
            }
            else{
                this.has_error = true;
                this.success = false;
                this.errors = response.data
                console.log(response.data)
            }
            } catch (error) {
                console.log(error)
            }
        }
    },
    mounted(){
        this.getInfo()
    },
  }
</script>