<template>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link"><router-link :to="{ name : 'home'}">Home</router-link></a></li>
            <li class="nav-item">
                <a class="nav-link" v-if='authenticated'><router-link :to="{ name : 'me'}">Profile</router-link></a>
                <a class="nav-link" v-else><router-link :to="{ name : 'register'}">Register</router-link></a></li>
            
            <li class="nav-item">
                <a class="nav-link" v-if='authenticated' @click.prevent="logout" href="#">Logout</a>
                <a class="nav-link" v-else><router-link :to="{ name : 'login'}">Login</router-link></a>    
            </li>
            
        </ul>
</template>

<script>
import AuthService from '../authservice.js';
export default {
    data() {
      return {
        authenticated: false,
        user: null
      }
    },
    watch: {
      '$route': 'isAuthenticated'
    },
    
    methods:{
        async logout() {
               await AuthService.logout();
               this.$store.dispatch('logout');
               this.authenticated = await this.$store.getters.isLoggedIn
               this.$router.push('/login');
               //this.$store.getters.isLoggedIn
            },
        async isAuthenticated () {
            this.authenticated = await this.$store.getters.isLoggedIn
            this.user = this.$store.getters.getUser
        },
        },
        created() {
            this.isAuthenticated();
        },
        
}
</script>

<style>

</style>