<template>
    <div class="container">
      <div class="form-container regis-container">
        <form autocomplete="off" @submit.prevent="password" method="post">
          <h1>Change Password</h1>
                    <div class="pass-row" v-bind:class="{ 'has-error': has_error && errors.password }">
                        <label for="password">New Password</label>
                        <input type="password" id="password" v-model="password">
                        <span class="help-block text-danger" v-if="has_error && errors.password">{{ errors.password }}</span>
                    </div>
                    <div class="pass-row" v-bind:class="{ 'has-error': has_error && errors.c_password }">
                        <label for="c_password">Confirmation Password</label>
                        <input type="password" id="c_password" v-model="c_password">
                        <span class="help-block text-danger" v-if="has_error && errors.c_password">{{ errors.c_password }}</span>
                    </div>
                    <button  type="button" @click="update" class="btn btn-primary mt-2">Update</button>
                </form>
      </div>
    </div>
</template>
<script>
import AuthService from '../authservice.js';
  export default {
    data() {
      return {
        username: '',
        password: '',
        c_password: '',
        firstname: '',
        lastname: '',
        has_error: false,
        error: '',
        errors: {},
        success: false
      }
    },
    methods: {
      async update() {
        try {
          const userinfo = {
            password: this.password,
            c_password: this.c_password,
          };
          console.log(userinfo)
          const response = await AuthService.changepassword(userinfo);
          if(response.status){
            this.msg = response.message;
            this.$router.push('/me');
          }
          else{
            this.has_error = true;
            this.success = false;
            this.errors = response.data
            console.log(response.data)
          }
        } catch (error) {
            console.log(error)
        }
      },
      async getInfo(){
            try {
            const response = await AuthService.profile();

            if(response.status){
                this.user = response.user
                this.$emit('input', this.$el.innerText)
            }
            else{
                this.has_error = true;
                this.success = false;
                this.errors = response.data
                console.log(response.data)
            }
            } catch (error) {
                console.log(error)
            }
        }
    },
    mounted(){
        this.getInfo()
    },
  }
</script>