<template>
    <div class="container justify-content-center">
      <div class="form-container regis-container">
        <form autocomplete="off" @submit.prevent="register" method="post">
          <img :src="user.profile_pic" class="img-thumbnail rounded-circle col-3">
          <div class="row regis-row">
            <div class="col">
              <div v-bind:class="{ 'has-error': has_error && errors.firstname }">
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname"  v-model="user.firstname">
                <span class="help-block text-danger" v-if="has_error && errors.firstname">{{ errors.firstname }}</span>
              </div>
            </div>
            <div class="col">
              <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.lastname }">
                <label for="lastname">Lastname</label>
                <input type="text" id="lastname" v-model="user.lastname">
                <span class="help-block text-danger" v-if="has_error && errors.firstname">{{ errors.firstname }}</span>
              </div>
            </div>
        </div>
                    <div class="row">
                      <div class="form-group">
                        <label for="profile_pic">Avatar</label>
                        <input type="file" id="profile_pic"  @change="upload($event)" class="form-control" ref="profile_pic" >
                        <span class="help-block text-danger" v-if="has_error && errors.profile_pic ">{{ errors.profile_pic }}</span>
                      </div>
                    </div>
          <button  type="button" @click="update" class="btn btn-primary mt-2">Update</button>
        </form>
      </div>
        
    </div>
</template>
<script>
import AuthService from '../authservice.js';
  export default {
    data() {
      return {
        user: '',
        username: '',
        password: '',
        c_password: '',
        firstname: '',
        lastname: '',
        profile_pic: '',
        has_error: false,
        error: '',
        errors: {},
        success: false,
        data: new FormData(),
        file: null
      }
    },
    methods: {
      async update() {
        try {
          if(this.file != null)
            this.data.append('profile_pic', this.file)
          this.data.append('firstname',this.user.firstname)
          this.data.append('lastname',this.user.lastname)
          const response = await AuthService.update(this.data);
          if(response.status){
            this.$router.push('/me');
            //this.user = response.user
          }
          else{
            this.has_error = true;
            this.success = false;
            this.errors = response.data
            console.log(response.data)
          }
        } catch (error) {
            console.log(error)
        }
      },
      upload(event){
        
        this.file = event.target.files[0];
        
      },
      async getInfo(){
            try {
            const response = await AuthService.profile();

            if(response.status){
                this.user = response.user
                this.$emit('input', this.$el.innerText)
            }
            else{
                this.has_error = true;
                this.success = false;
                this.errors = response.data
                console.log(response.data)
            }
            } catch (error) {
                console.log(error)
            }
        }
    },
    mounted(){
        this.getInfo()
    },
  }
</script>