<template>
    <div class="container justify-content-center">
      <div class="form-container regis-container">
                <form autocomplete="off" @submit.prevent="register" method="post">
                    <h1>Sign Up</h1>
                    <div class="row regis-row">
                      <div class="col">
                          <input type="text" id="username"  placeholder="Username" v-model="data.username" required>
                          <span class="help-block text-danger" v-if="has_error && errors.username">{{ errors.username }}</span>
                      </div>
                    </div>
                    <div class="row row-100">
                      <div class="col">
                        <input type="password" id="password"  placeholder="Password" v-model="data.password" required>
                        <span class="help-block text-danger" v-if="has_error && errors.password">{{ errors.password }}</span>
                      </div>
                      <div class="col">
                        <input type="password" id="c_password" placeholder="Confirm Password" v-model="data.c_password" required>
                        <span class="help-block text-danger" v-if="has_error && errors.c_password">{{ errors.c_password }}</span>
                      </div>
                    </div>
                    <div class="row row-100">
                      <div class="col">
                          <div v-bind:class="{ 'has-error': has_error && errors.firstname }">
                              <input type="text" id="firstname" placeholder="Firstname" v-model="data.firstname" required>
                              <span class="help-block text-danger" v-if="has_error && errors.firstname">{{ errors.firstname }}</span>
                          </div>
                        </div>
                        <div class="col">
                          <div v-bind:class="{ 'has-error': has_error && errors.lastname }">
                              <input type="text" id="lastname" placeholder="Lastname" v-model="data.lastname" required>
                              <span class="help-block text-danger" v-if="has_error && errors.lastname">{{ errors.lastname }}</span>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <label for="profile_pic">Avatar</label>
                        <input type="file" id="profile_pic"  @change="upload($event)" class="form-control" ref="profile_pic" >
                        <span class="help-block text-danger" v-if="has_error && errors.profile_pic ">{{ errors.profile_pic }}</span>
                      </div>
                    </div>
                    <div class="form-group">
                        <button type="button" @click="signup"  class="mt-2 mx-auto">Sign Up</button>
                    </div>
                    
                </form>
                </div>
    </div>
</template>
<script>
import AuthService from '../authservice.js';
  export default {
    data() {
      return {
        data:{
          username: '',
          password: '',
          c_password: '',
          firstname: '',
          lastname: '',
          profile_pic: '',
          file: ''
        },
        has_error: false,
          error: '',
          errors: {},
          success: false,
      }
    },
    methods: {
      async signup() {
        try {
          let formData = new FormData();
          formData.append('username',this.data.username)
          formData.append('password',this.data.password)
          formData.append('c_password',this.data.c_password)
          formData.append('firstname',this.data.firstname)
          formData.append('lastname',this.data.lastname)
          formData.append('profile_pic',this.data.profile_pic)
          const response = await AuthService.signUp(formData);
          if(response.success == true){
            this.msg = response.message;
            const token = response.data.token;
            const user = response.data.name;
            console.log(response.data.token)
            this.$store.dispatch('login', { token, user });
            this.$router.push('/me');
          }
          else{
            this.has_error = true;
            this.success = false;
            this.errors = response.data
            console.log(response.data)
          }
        } catch (error) {
            console.log(error)
        }
      },
      upload(event){
        
        this.data.profile_pic = event.target.files[0];
        
      },
    }
  }
</script>